<h1>Listing articles</h1>
<%= link_to "New Article", new_article_path %>
    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th></th>
        </tr>

<h1>Hello, Rails</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<% @articles.each do |article| %>
    <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= link_to 'Show', articles_path(articles) %></td>
    </tr>

<% end %>
</table>